__pycache__/
*.py[cod]

.tox/
.pytest_cache/

*.egg-info/
.eggs/
dist/

.coverage
htmlcov-*/

AUTHORS
ChangeLog

exported-artifacts
*.rpm
doc/nmstatectl.8
doc/nmstate.service.8

/ansible
/.vagrant
/Vagrantfile

_kubevirtci

rust/Cargo.lock
rust/target
rust/src/clib/test/nmstate_test
rust/src/clib/test/nmpolicy_test
rust/src/clib/test/vgcore*
rust/src/clib/nmstate.h
rust/vendor/

*.swp

packaging/nmstate.spec
doc/nmstatectl.8
doc/nmstate-autoconf.8

nmstate-*.tar.gz
nmstate-*.tar.gz.asc
