---
dist: bionic
language: generic
env:
    global:
        - use_coveralls=true
    matrix:
        - CONTAINER_IMAGE=nmstate/centos8-nmstate-dev
          testflags="--test-type integ --pytest-args='-x'"
          use_codecov=true
          use_coveralls=false
        - CONTAINER_IMAGE=nmstate/centos8-nmstate-dev
          testflags="--test-type integ_slow --pytest-args='-x'"
        - CONTAINER_IMAGE=nmstate/centos8-nmstate-dev
          testflags="--test-type integ --pytest-args='-x'
              --copr networkmanager/NetworkManager-1.22-git"
        - CONTAINER_IMAGE=nmstate/centos8-nmstate-dev
          testflags="--test-type integ --pytest-args='-x'
              --copr networkmanager/NetworkManager-master"
        - CONTAINER_IMAGE=nmstate/centos8-nmstate-dev
          testflags="--test-type format"
        - CONTAINER_IMAGE=nmstate/centos8-nmstate-dev
          testflags="--test-type lint"
        - CONTAINER_IMAGE=nmstate/centos8-nmstate-dev
          testflags="--test-type unit_py36"
        - testflags="--test-vdsm"

matrix:
    fast_finish: true
    allow_failures:
        - env: CONTAINER_IMAGE=nmstate/centos8-nmstate-dev
               testflags="--test-type integ --pytest-args='-x'
                   --copr networkmanager/NetworkManager-1.22-git"
        - env: CONTAINER_IMAGE=nmstate/centos8-nmstate-dev
               testflags="--test-type integ --pytest-args='-x'
                   --copr networkmanager/NetworkManager-master"
        - env: testflags="--test-vdsm"

addons:
    apt:
        sources:
        # Add podman repo suggested by
        #   https://podman.io/getting-started/installation.html
        - sourceline: 'deb http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_18.04/ /'
          key_url: 'https://download.opensuse.org/repositories/devel:kubic:libcontainers:stable/xUbuntu_18.04/Release.key'

        packages:
            - git
            - gnupg2
            - openssh-client
            - python-tox
            - xz-utils
            - podman
            - containernetworking-plugins   # Need for podman as root user

script:
    - sudo modprobe openvswitch
    - sudo ./automation/run-tests.sh $testflags

after_success:
    - sudo pip install coveralls codecov
    - sudo mv .coverage .coverage.orig || true
    - sudo mv tests/.coverage .coverage.tox || true
    - sudo coverage combine --append .
    - test "${use_coveralls}" == "true" && coveralls || true
    - test "${use_codecov}" == "true" && codecov || true

after_failure:
    - sudo ./automation/upload_test_artifacts.sh
