---
dist: bionic
language: generic
env:
    global:
        - use_coveralls=true
    matrix:
        - CONTAINER_IMAGE=nmstate/centos8-nmstate-dev
          testflags="--test-type integ --pytest-args='-x'"
          use_codecov=true
          use_coveralls=false
        - CONTAINER_IMAGE=nmstate/centos8-nmstate-dev
          testflags="--test-type integ --pytest-args='-x'
              --copr networkmanager/NetworkManager-1.22-git"
        - CONTAINER_IMAGE=nmstate/centos8-nmstate-dev
          testflags="--test-type integ --pytest-args='-x'
              --copr networkmanager/NetworkManager-master"
        - CONTAINER_IMAGE=nmstate/fedora-nmstate-dev
          testflags="--test-type integ --pytest-args='-x'"
        - CONTAINER_IMAGE=nmstate/centos8-nmstate-dev
          testflags="--test-type format"
        - CONTAINER_IMAGE=nmstate/centos8-nmstate-dev
          testflags="--test-type lint"
        - CONTAINER_IMAGE=nmstate/centos8-nmstate-dev
          testflags="--test-type unit_py36"
        - CONTAINER_IMAGE=nmstate/fedora-nmstate-dev
          testflags="--test-type unit_py37"
        - CONTAINER_IMAGE=nmstate/fedora-nmstate-dev
          testflags="--test-type unit_py38"

matrix:
    allow_failures:
        - env: CONTAINER_IMAGE=nmstate/centos8-nmstate-dev
               testflags="--test-type integ --pytest-args='-x'
                   --copr networkmanager/NetworkManager-master"
        - env: CONTAINER_IMAGE=nmstate/centos8-nmstate-dev
               testflags="--test-type integ --pytest-args='-x'
                   --copr networkmanager/NetworkManager-1.22-git"
        - env: CONTAINER_IMAGE=nmstate/fedora-nmstate-dev
               testflags="--test-type integ --pytest-args='-x'"

addons:
    apt:
        packages:
            - git
            - gnupg2
            - openssh-client
            - python-tox
            - xz-utils

services:
    - docker

before_install:
    - docker pull $CONTAINER_IMAGE

script:
    - sudo modprobe openvswitch
    - ./automation/run-tests.sh $testflags

after_success:
    - sudo pip install coveralls codecov
    - sudo mv .coverage .coverage.orig || true
    - sudo mv tests/.coverage .coverage.tox || true
    - sudo coverage combine --append .
    - test "${use_coveralls}" == "true" && coveralls || true
    - test "${use_codecov}" == "true" && codecov || true

after_failure:
    - ./automation/upload_test_artifacts.sh
